@charset "utf-8";

header{
	line-height: 1.5;
	background-color: #54b4dc;
	overflow: hidden;
}

.logo{
	background-color: #54b4dc;
	height: 40px;
	float: left;
	display:table;
	text-align: center;
	color: #fff;
}
.logo > *{
	display:table-cell;
    vertical-align: middle;
}

#menubtn{
    display: none;
}
.menubtn{
    background-color: #54b4dc;
    height: 40px;
    float: right;
    display:table;
    text-align: center;
    color: #fff;
}
.menubtn > *{
    display:table-cell;
    vertical-align: middle;
}


.menubtn li a{
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
}

.contents{
	background-color: #0068a7;
	text-align: center;
}

.contents h3{
	color: #fff;
}
.contents label{
	color: #fff;
	font-size: 18px;
}
.contents input{
	text-align: center;
	background-color: #0068a7;
	color: #fff;
}
.contents button{
	text-align: center;
	background-color: #0068a7;
	color: #fff;
}

.placename{
	border: none;
	border-bottom: 1px solid #fff;
}

.usemoney{
	border: none;
	border-bottom: 1px solid #fff;
}
.nowdate{
	border: none;
	border-bottom: 1px solid #fff;
}
.updatebtn{
	border: none;
	background-color: #0494cc !important;
	letter-spacing: 2px;
	border-radius: 2px;
}

footer{
	text-align: center;
	background-color: #54b4dc;
	color: #fff;
}

/*-320px*/
@media screen and (max-width: 320px){
	header{
		padding: 16px 0;
	}
	.menubtn{
		overflow: hidden;
		margin-right: 16px;
	}
	#menubtn{
		display: block;
		border-radius: 2px;
		padding: 4px 12px;
		text-align: center;
		border: 1px solid #fff;

	}
	.menulist{
		display: none;
	}

	.menulist li{
		transition:all .5s;
		padding: 6px 8px;
		border-radius: 2px;
		font-size: 16px;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
	}

	.menulist li:hover{
		background-color: #0068a7;
		color: #fbcc36;
	}
	.contents h3{
		font-size: 16px;
		padding-top: 24px;
		margin-bottom: 36px;
	}
	.contents label{
		font-size: 16px;
	}
	.contents input{
		margin-bottom: 36px;
		font-size: 16px;
	}
	.contents button{
		font-size: 16px;
		margin-bottom: 36px;
	}
	.updatebtn{
		padding:12px 16px;
	}
	footer{
		padding: 32px 0;
	}
}

/*320-640px*/

@media screen and (min-width: 320px) and (max-width: 640px){
	header{
		padding: 16px 0;
	}
	.menubtn{
		overflow: hidden;
		margin-right: 16px;
	}
	#menubtn{
		display: block;
		border-radius: 2px;
		padding: 8px 24px;
		text-align: center;
		border: 1px solid #fff;

	}
	.menulist{
		display: none;
	}

	.menulist li{
		transition:all .5s;
		padding: 6px 8px;
		border-radius: 2px;
		font-size: 16px;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
	}

	.menulist li:hover{
		background-color: #0068a7;
		color: #fbcc36;
	}

	.contents h3{
		font-size: 18px;
		padding-top: 24px;
		margin-bottom: 36px;
	}
	.contents label{
		font-size: 16px;
	}
	.contents input{
		margin-bottom: 36px;
		font-size: 16px;
	}
	.contents button{
		font-size: 16px;
		margin-bottom: 36px;
	}
	.updatebtn{
		padding:12px 16px;
	}

	footer{
		padding: 32px 0;
	}

}

/*640-768px*/

@media screen and (min-width: 640px) and (max-width: 768px){
	header{
		padding: 16px 0;
	}
	.menubtn{
		overflow: hidden;
	}

	.menulist li{
		float: left;
		margin-right: 12px;
		transition:all .5s;
		padding: 6px 8px;
		border-radius: 2px;
		font-size: 16px;
	}

	.menulist li:hover{
		background-color: #0068a7;
		color: #fbcc36;
	}

	.contents h3{
		font-size: 18px;
		padding-top: 24px;
		margin-bottom: 36px;
	}
	.contents label{
		font-size: 18px;
	}
	.contents input{
		margin-bottom: 36px;
		font-size: 16px;
	}
	.contents button{
		font-size: 18px;
		margin-bottom: 36px;
	}
	.updatebtn{
		padding:12px 16px;
	}

	footer{
		padding: 32px 0;
	}

}

/*768px-*/
@media screen and (min-width: 768px){
	header{
		padding: 16px 0;
	}
	.menubtn{
		overflow: hidden;
	}

	.menulist li{
		float: left;
		margin-right: 24px;
		transition:all .5s;
		padding: 8px 12px;
		border-radius: 2px;
		font-size: 18px;
	}

	.menulist li:hover{
		background-color: #0068a7;
		color: #fbcc36;
	}

	.contents h3{
		font-size: 20px;
		padding-top: 24px;
		margin-bottom: 36px;
	}
	.contents label{
		font-size: 18px;
	}
	.contents input{
		margin-bottom: 36px;
		font-size: 18px;
	}
	.contents button{
		font-size: 18px;
		margin-bottom: 36px;
	}
	.updatebtn{
		padding:12px 16px;
	}

	footer{
		padding: 32px 0;
	}

}